{{#if shouldDisplayBirthdays}}
    <div><h2>Today's Birthdays...</h2></div>
    <div class="birthday-slider">
        {{#each birthdays}}
            <div>
                <div class="row justify-content-center">
                    <div class="col-sm-2"></div>
                    <div class="col-md-auto"><h4>Happy Birthday, {{name}}</h4></div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-2"></div>
                    <div class="col-md-auto">
                        <td class="result-image">
                            <a href="/villager/{{id}}">
                                <img src="/images/villagers/medium/{{id}}.png" alt="Picture of {{name}}"
                                 class="img-responsive"/>
                            </a>
                        </td>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}