<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <span class="sr-only">VillagerDb</span>
        <img src="{{getVersionedPath '/images/logo-navbar.svg'}}" alt="VillagerDB logo" />
    </a>

    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/villagers">Villagers</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-clothing" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-clothing">
                    <a class="dropdown-item" href="/items/accessories">Accessories</a>
                    <a class="dropdown-item" href="/items/bottoms">Bottoms</a>
                    <a class="dropdown-item" href="/items/dresses">Dresses</a>
                    <a class="dropdown-item" href="/items/hats">Hats</a>
                    <a class="dropdown-item" href="/items/shoes">Shoes</a>
                    <a class="dropdown-item" href="/items/socks">Socks</a>
                    <a class="dropdown-item" href="/items/tops">Tops</a>
                    <a class="dropdown-item" href="/items/umbrellas">Umbrellas</a>
                    <a class="dropdown-item" href="/items/wetsuits">Wetsuits</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-collectibles" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Collectibles
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-collectibles">
                    <a class="dropdown-item" href="/items/art">Art</a>
                    <a class="dropdown-item" href="/items/bugs">Bugs</a>
                    <a class="dropdown-item" href="/items/fish">Fish</a>
                    <a class="dropdown-item" href="/items/fossils">Fossils</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-equipment" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Equipment
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-equipment">
                    <a class="dropdown-item" href="/items/balloons">Balloons</a>
                    <a class="dropdown-item" href="/items/stationery">Stationery</a>
                    <a class="dropdown-item" href="/items/usables">Usables</a>
                    <a class="dropdown-item" href="/items/tools">Tools</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-furniture" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Furniture
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-furniture">
                    <a class="dropdown-item" href="/items/flooring">Flooring</a>
                    <a class="dropdown-item" href="/items/furniture">Indoor/Outdoor Items</a>
                    <a class="dropdown-item" href="/items/music">Music</a>
                    <a class="dropdown-item" href="/items/wallpaper">Wallpaper</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-nature" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Nature
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-nature">
                    <a class="dropdown-item" href="/items/bushes-trees">Bushes &amp; Trees</a>
                    <a class="dropdown-item" href="/items/flowers">Flowers</a>
                    <a class="dropdown-item" href="/items/fruit">Fruit</a>
                    <a class="dropdown-item" href="/items/gyroids">Gyroids</a>
                    <a class="dropdown-item" href="/items/mushrooms">Mushrooms</a>
                    <a class="dropdown-item" href="/items/ore">Ore</a>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav">
        {{#if userState.isRegistered}}
            <li class="nav-item">
                <a class="nav-link" href="/user/{{userState.username}}">{{userState.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Log Out</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
        {{/if}}
        </ul>
    </div>
</nav>