<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <span class="sr-only">VillagerDb</span>
        <img class="sr-hidden" src="/images/logo-navbar.png" alt="VillagerDB logo" />
    </a>

    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/villagers/page/1">Villagers</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-clothing" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-clothing">
                    <a class="dropdown-item" href="/items/accessories/page/1">Accessories</a>
                    <a class="dropdown-item" href="/items/bottoms/page/1">Bottoms</a>
                    <a class="dropdown-item" href="/items/dresses/page/1">Dresses</a>
                    <a class="dropdown-item" href="/items/hats/page/1">Hats</a>
                    <a class="dropdown-item" href="/items/shoes/page/1">Shoes</a>
                    <a class="dropdown-item" href="/items/socks/page/1">Socks</a>
                    <a class="dropdown-item" href="/items/tops/page/1">Tops</a>
                    <a class="dropdown-item" href="/items/umbrellas/page/1">Umbrellas</a>
                    <a class="dropdown-item" href="/items/wetsuits/page/1">Wetsuits</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-collectibles" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Collectibles
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-collectibles">
                    <a class="dropdown-item" href="/items/art/page/1">Art</a>
                    <a class="dropdown-item" href="/items/bugs/page/1">Bugs</a>
                    <a class="dropdown-item" href="/items/fish/page/1">Fish</a>
                    <a class="dropdown-item" href="/items/fossils/page/1">Fossils</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-equipment" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Equipment
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-equipment">
                    <a class="dropdown-item" href="/items/balloons/page/1">Balloons</a>
                    <a class="dropdown-item" href="/items/stationery/page/1">Stationery</a>
                    <a class="dropdown-item" href="/items/usables/page/1">Usables</a>
                    <a class="dropdown-item" href="/items/tools/page/1">Tools</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-furniture" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Furniture
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-furniture">
                    <a class="dropdown-item" href="/items/flooring/page/1">Flooring</a>
                    <a class="dropdown-item" href="/items/furniture/page/1">Furniture</a>
                    <a class="dropdown-item" href="/items/music/page/1">Music</a>
                    <a class="dropdown-item" href="/items/wallpaper/page/1">Wallpaper</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-nature" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Nature
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-nature">
                    <a class="dropdown-item" href="/items/bushes-trees/page/1">Bushes &amp; Trees</a>
                    <a class="dropdown-item" href="/items/flowers/page/1">Flowers</a>
                    <a class="dropdown-item" href="/items/fruit/page/1">Fruit</a>
                    <a class="dropdown-item" href="/items/gyroids/page/1">Gyroids</a>
                    <a class="dropdown-item" href="/items/mushrooms/page/1">Mushrooms</a>
                    <a class="dropdown-item" href="/items/ore/page/1">Ore</a>
                </div>
            </li>
        </ul>
    </div>
</nav>