<form class="form mt-5 mb-5" method="get" action="/villagers/search">
    <div class="input-group">
        <label class="sr-only" for="q">Search for a villager</label>
        <input type="text" class="form-control" id="q" name="q"
               placeholder="Name or catchphrase"
               {{#if result.isSearch}}value="{{result.searchQuery}}"{{/if}}/>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" style="border-radius: 0;"><span class="fas fa-search"></span></button>
        </span>
    </div>
</form>