<div id="search-bar" class="bg-dark">
    <form class="form" method="get" action="/search">
        <div class="input-group">
            <label class="sr-only" for="q">Search for a villager or item</label>
            <input type="text" class="form-control" maxlength="64" id="q" name="q"
                   placeholder="Item or villager name" autoComplete="off" list="qautocomplete"
                   value="{{searchQuery}}"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="fas fa-search"></span></button>
            </span>
            <datalist id="qautocomplete">
            </datalist>
        </div>
    </form>
</div>