<ul class="list-inline share-buttons">
    <li class="list-inline-item">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}"
        title="Share on Facebook"
        target="_blank">
        <img alt="Share on Facebook"
             src="/images/social/facebook.svg">
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://twitter.com/intent/tweet?url={{shareUrl}}"
        target="_blank"
        title="Tweet">
        <img alt="Tweet"
             src="/images/social/twitter.svg">
        </a>
    </li>
</ul>