<ul class="list-inline share-buttons">
    {{#if showAddButton}}
        <li class="list-inline-item">
            <div class="entity-dropdown-init" data-entity-type="{{entityType}}" data-entity-id="{{entityId}}"
                data-show-label="true"></div>
        </li>
    {{/if}}
    {{#if showCopyButton}}
        <li class="list-inline-item">
            <a href="{{shareUrl}}" class="btn btn-primary linking-button">
                <span class="fas fa-link"></span>
                <span class="sr-only">Copy link</span>
            </a>
        </li>
    {{/if}}
</ul>