<ul class="list-inline share-buttons">
    {{#if showAddButton}}
        <li class="list-inline-item">
            <div class="entity-dropdown-init" data-entity-type="{{entityType}}" data-entity-id="{{entityId}}"
                data-show-label="true"></div>
        </li>
    {{/if}}
    <li class="list-inline-item">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}"
        title="Share on Facebook" target="_blank">
        <img alt="Share on Facebook" src="/images/social/facebook.svg">
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://twitter.com/intent/tweet?url={{shareUrl}}"
        title="Tweet" target="_blank">
        <img alt="Tweet" src="/images/social/twitter.svg">
        </a>
    </li>
</ul>