<div class="fb-share-button"
     data-href="{{shareUrl}}"
     data-size="large"
     data-layout="button_count"
     style="display: inline-block; vertical-align: top;">
</div>
<a class="twitter-share-button"
   href="https://twitter.com/intent/tweet?text=Animal Crossing villager {{name}}"
   data-size="large"
   style="display: inline-block; vertical-align: top;">
    <span class="sr-only">Tweet</span>
</a>