<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pageTitle}} | Animal Crossing Villager and Item Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="{{getVersionedPath '/stylesheets/style.css'}}">
</head>
<body>
{{> nav }}
{{> search-bar searchQuery=searchQuery }}
<main role="main" class="container-fluid">
    <div id="content">
        {{{body}}}
    </div>
</main>
<footer id="footer" class="page-footer mt-4">
    <div class="container">
        <p class="text-center">
            <a target="_blank" href="https://animal-crossing.com/">Animal Crossing</a> is a registered trademark of
            <a target="_blank" href="https://www.nintendo.com/">Nintendo</a>.
            VillagerDB in no way claims ownership of any
            intellectual property associated with Animal Crossing.
        </p>
        <p class="text-center">
            Want to contribute? Check us out on <a href="https://github.com/jefflomacy/villagerdb">GitHub</a>.
        </p>
    </div>
</footer>
<script type="text/javascript" src="{{getVersionedPath '/javascripts/bundle.js'}}"></script>
</body>
</html>
