<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pageTitle}} | VillagerDb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="/stylesheets/style.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <span class="sr-only">VillagerDb</span>
        <img class="sr-hidden" src="/images/logo-navbar.png" alt="VillagerDB logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Villagers</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container-fluid">
    <div id="content">
        {{{body}}}
    </div>
</main>
<footer id="footer" class="page-footer mt-4 mb-4">
    <div class="container">
        <p class="text-center">
            Animal Crossing is a registered trademark of Nintendo. VillagerDb in no way claims ownership of any
            intellectual property associated with Animal Crossing.
        </p>
        <p class="text-center">
            Want to contribute? Check us out on <a href="https://github.com/jefflomacy/villagerdb">GitHub</a>.
        </p>
    </div>
</footer>
<script type="text/javascript" src="/javascripts/bundle.js"></script>
</body>
</html>
