{{> birthdays birthdays=birthdays shouldDisplayBirthdays=shouldDisplayBirthdays }}
<h1>{{pageTitle}}</h1>

<div id="entity-browser"
     data-page-url-prefix="{{pageUrlPrefix}}"
     data-initial-state="{{initialState}}"
     data-all-filters="{{allFilters}}"></div>