{{> birthdays birthdays=birthdays shouldDisplayBirthdays=shouldDisplayBirthdays }}
<h1 class="sr-only">Welcome to VillagerDB!</h1>
<div class="character-intro">
    <div>
        <img class="character-image" src="/images/misc/nook.png" alt="Tom Nook">
    </div>
    <div class="character-dialog">
        <span class="character-name">Tom Nook</span>
        <p>
            Hello, yes come on in! Your getaway begins very soon, hm? Feel free to browse our
            <a href="/search?game=nh">New Horizons</a> catalog!
        </p>
    </div>
</div>

<div class="row catalog-choosers">
    <div class="col-6 col-md-4 mt-4">
        <a href="/villagers" class="villagers-link">
            <div class="catalog-chooser">
                <p>Villagers</p>
                <span class="fas fa-5x fa-users"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/clothing" class="clothing-link">
            <div class="catalog-chooser">
                <p>Clothing</p>
                <span class="fas fa-5x fa-tshirt"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/collectibles" class="collectibles-link">
            <div class="catalog-chooser">
                <p>Collectibles</p>
                <span class="fas fa-5x fa-paint-brush"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/equipment" class="equipment-link">
            <div class="catalog-chooser">
                <p>Equipment</p>
                <span class="fas fa-5x fa-hammer"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/all-furniture" class="furniture-link">
            <div class="catalog-chooser">
                <p>Furniture</p>
                <span class="fas fa-5x fa-couch"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/nature" class="nature-link">
            <div class="catalog-chooser">
                <p>Nature</p>
                <span class="fas fa-5x fa-tree"></span>
            </div>
        </a>
    </div>
</div>