{{> birthdays birthdays=birthdays shouldDisplayBirthdays=shouldDisplayBirthdays }}
{{> random }}
<h1>Welcome to VillagerDB!</h1>
<p>Feel free to browse, but try not to carouse! Ho ho!</p>

<p><span style="color: red; font-weight: bold;">New!</span> We have added some
    <a href="/search/?game=nh">New Horizons</a> items! Check out the recipes. We will update them as soon as we get new
    information!</p>

<p>What can we help you find today, hm? This is an upcoming site, so check back regularly for updated information!</p>

<div class="row catalog-choosers">
    <div class="col-6 col-md-4 mt-4">
        <a href="/villagers">
            <div class="catalog-chooser">
                <span class="fas fa-5x fa-users"></span>
                <p>Villagers</p>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/clothing">
            <div class="catalog-chooser">
                <span class="fas fa-5x fa-tshirt"></span>
                <p>Clothing</p>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/collectibles">
            <div class="catalog-chooser">
                <span class="fas fa-5x fa-paint-brush"></span>
                <p>Collectibles</p>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/equipment">
            <div class="catalog-chooser">
                <span class="fas fa-5x fa-hammer"></span>
                <p>Equipment</p>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/all-furniture">
            <div class="catalog-chooser">
                <span class="fas fa-5x fa-couch"></span>
                <p>Furniture</p>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/nature">
            <div class="catalog-chooser">
                <span class="fas fa-5x fa-tree"></span>
                <p>Nature</p>
            </div>
        </a>
    </div>
</div>