<h1>Rename your list</h1>
{{#each errors}}
    <div class="alert alert-danger">
        {{msg}}
    </div>
{{/each}}
<form method="post" action="/list/rename/{{listId}}">
    <div class="form-group">
        <input type="text" name="new-list-name" class="form-control" id="new-list-name"
               aria-describedby="new-list-name-help" placeholder="Enter new list name" maxlength="25">
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>