<h1>
    {{#if result.isSearch}}
        Search results for '{{result.searchQuery}}'
    {{else}}
        All villagers
    {{/if}}
</h1>

{{> searchBar result=result placeholder="Find a villager by name or catchphrase" }}

<div id="villager-browser" data-initial-state="{{initialState}}"></div>