#browser {
  position: relative;
}

.applied-filters {
  .list-inline {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .badge {
    white-space: normal;
    text-align: left;
    a, a:hover, a:focus, a:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}

.browser-results-container {
  li {
    margin-bottom: 20px;
  }
}

.search-result-container {
  padding: 10px 0 10px 0;
  border: 1px solid #eee;
  margin: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  p {
    margin: 10px 0 0 0;
    text-align: center;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
}

.filter-container {
  .filter-root {
    display: block;
    background: #eee;
    padding: 10px;
  }

  @media (max-width: 768px) {
    .not-expanded-sm {
      display: none;
    }
  }
}