.catalog-choosers {
  a, a:hover, a:visited {
    color: #000;
  }

  a:hover {
    text-decoration: none;

    .catalog-chooser p {
      text-decoration: underline;
    }
  }

  .catalog-chooser {
    padding: 10px 0 10px 0;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    p {
      margin: 10px 0 0 0;
      text-align: center;
    }
  }
}