@import (inline) '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3, h4, h5, h6 {
  font-size: 1.3rem;
}

#content {
  padding: 3rem;
}

table.result-set {
  th {
    text-align: center;
  }

  td {
    vertical-align: middle;
    text-align: center;
  }

  td.result-image {
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
}