@import (inline) '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3, h4, h5, h6 {
  font-size: 1.3rem;
}

#content {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #eee;
}

table.result-set {
  th {
    text-align: center;
  }

  td {
    vertical-align: middle;
    text-align: center;
  }

  td.result-image {
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
}

ul.share-buttons img {
  width: 32px;
  height: 32px;
}

.villager-result-container {
  padding: 10px 0 10px 0;
  border: 1px solid #eee;
  margin: 10px;

  .villager-result-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .villager-result-link {
    margin-top: 20px;
    text-align: center;
  }
}